root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.fs]
fsharp_single_argument_web_mode = true
fsharp_multiline_block_brackets_on_same_column = true
indent_size = 4
